.container {
  margin: 20px 5%;
  display: grid;
  grid-gap: 20px;

  justify-items: center;
}
.about_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.btn {
  width: 250px;
  margin: 0 auto;
}
