.container {
  margin-top: 20px;
}

.container h6 {
  font-weight: 800;
  font-size: 14px;
}

.toggleContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  width: 100%;
}

.toggleContainer button {
  margin: 10px 0px 10px 10px;
  border-radius: 5px !important;
  border: 1px solid black !important;
  max-width: 130px;
  padding: 2px 5px;
}

.resultFilter {

}
